body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #f1f1f1;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
}

#header {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  position: relative;
  margin-top: 0px;
  padding: 5px;
  background-color: #0077c9;
  border: 1px solid #77aaff;
  box-shadow: -1px 1px #3a4048,
    -2px 2px #3a4048,
    -2px 2px #3a4048,
    -2px 2px #3a4048,
    -2px 2px #3a4048;
}

#header h1 {
  margin-top: 20px;
  width: 90%;
  color: #fff;
}

#component-list {
  margin-bottom: 20px;
}

.component {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.component img {
  max-width: 100px;
}

.component h2 {
  margin: 0;
  font-size: 18px;
}

.component p {
  margin: 5px 0;
}

#add-component-button {
  display: block;
  margin-right: 15px;
  width: auto;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #06b457;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

#export-decharge-button {
  display: block;
  margin-right: 15px;
  width: auto;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #06b457;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

/* #add-component-form {
  background-color: rgb(248, 245, 245);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
} */

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="submit"] {
  display: block;
  width: calc(100% - 30px);
  padding: 10px;
  margin: 15px;
  font-size: 16px;
  color: #5cb85c;
  background-color: white;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 95%;
  margin: 0px auto;
}

th span {
  margin-left: 10px;
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #285392;
  color: white;
  text-align: center;

}

td {
  text-align: center;
}

.status {
  display: inline-block;
  width: 80px;
  text-align: center;
  border-radius: 4px;
  padding: 4px 0;
}

.available {
  background-color: #4caf50;
  color: white;
}

.broken {
  background-color: #ff9800;
  color: white;
}

.lost {
  background-color: #f44336;
  color: white;
}

img {
  vertical-align: middle;
}

a img {
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 80px;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 25px;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.container {
  margin: 25px 2.5%;
  width: 95%;
}

#search_submit,
#search_query,
#search_label,
#filter_status,
#filter_status_label,
#filter_date_label,
#filter_date_from,
#filter_date_to {
  width: 250px;
  display: inline;
}

#filter_status_form,
#filter_date_form {
  display: inline;
  margin-left: 15px;
}

.success-msg,
.error-msg {
  display: none;
  position: absolute;
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  bottom: 10px;
  right: 10px;
  width: 33vw;
}

.success-msg {
  color: #270;
  background-color: #DFF2BF;
}

.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}

#preview_image {
  max-width: 200px;
}

#reset_filters {
  padding: 10px;
  margin: 15px;
  font-size: 16px;
  color: red;
  background-color: white;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

#downloadBtn {
  padding: 10px;
  margin: 15px;
  font-size: 16px;
  color: green;
  background-color: white;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}